﻿
@model LesVoorbeeldTagHelpers.Models.Student

<h2>@Model.GetType().Name</h2>

   
<form asp-controller="Student" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="Id"></label>
    <input asp-for="Id" class="form-control" />
    <span asp-validation-for="Id" class="text-danger"></span>
    <br />
    <label asp-for="Naam"></label>
    <input asp-for="Naam" class="form-control" />
    <span asp-validation-for="Naam" class="text-danger"></span>
    <br />
    <label asp-for="AfstudeerGraad"></label>
    <select asp-for="AfstudeerGraad" asp-items="@new SelectList(Model.Graden())" class="form-control"></select>

    <button class="btn btn-primary" asp-show-text="Bevestig" asp-is-submit="true" asp-show-as="link"></button>
</form>






